# Kconfig - STM32 Nucleo-64 development board with STM32F334R8 MCU
#
# Copyright (c) 2016 RnDity Sp. z o.o.
#
# SPDX-License-Identifier: Apache-2.0
#

if BOARD_NUCLEO_F303RE

config BOARD
	default nucleo_f303re

if UART_CONSOLE

config UART_STM32_PORT_2
	default y

endif # UART_CONSOLE

endif # BOARD_NUCLEO_F303RE
